body {
  /* background image 넣기, 경로 설정 */
  background-image: url("images/02.jpeg");

  margin: 50px 250px;
}

h1 {
  text-align: center;
  margin: 20px;
  background-color: yellow;
}

#main_nav {
  font-size: x-large;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#bread {
  font-size: 12px;
}

#s_nav {
  text-align: center;
  font-size: 18px;
}

#btm_nav {
}

.poem {
  line-height: 15pt;
}
